/* .nav-img1{
    border-radius: 50% ;
 
   
}
.navbar{
    background-color: rgb(84, 161, 98);
    position: fixed;
}
.figger-profile{
    margin-top: 20px;
    border: 5px;
    border-style: double;
    border-color: rgb(171, 178, 239);
    background-color: rgba(110, 83, 190, 0.809);
    box-shadow: 0px 2px 10px rgb(171, 178, 239);
   
    
}
.job-pre{
    border: 1px;
    border-style: ridge;
    border-color: black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 10px;
    
}
.job-pre1{
    border: 1px;
    border-style: ridge;
    border-color: black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 10px;
    

}
.job-pre2{
    border: 1px;
    border-style: ridge;
    border-color: black;
    background-color: aliceblue;   
    border-radius: 10px;
    font-size: 14px;
    margin-left: 10px;
    
}
.job-pre3{
    border: 1px;
    border-style: ridge;
    border-color: black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 10px;
    
}
.sav-job{
    border: 2px;
    border-style: ridge;
    border-color: black;
    border-radius: 10px;   

}
.save-btn{
    height: 80px;
    background-color:  white;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 2px lightblue;
    border-color: aliceblue;
    width: 200px;
}
.btns-fore{
    margin: 20px;
    padding-left: 10px;
    padding-top: 15px;
}
.company-ntf{
    margin-top: 20px;
    border: 5px;
    border-style: double;
    border-color: rgb(252, 253, 253);
    border-radius: 10px;
    width: 350px;    
    box-shadow: 0px 2px 10px rgb(2, 3, 11);

}
.company-ntf1{
    margin-top: 20px;
    margin-left: 10px;
    border: 5px;
    border-style: double;
    border-color: rgb(252, 253, 253);
    border-radius: 10px;
    width: 350px;    
    box-shadow: 0px 2px 10px rgb(2, 3, 11);

}
.bank-logo{
    margin: 4px;
}
.ntf-text1{
    margin: 2px;
    padding-top: 5px;
    
}
.sav-logo-ntf{
   margin-top: 4px;
    margin-left: 200px;
    padding-left: 9px;

}
.ntf-font2{
    color: rgb(92, 92, 250);
}

.firstrowloca li {
    list-style: none;
   
    margin-left: -32px;

}
.secondrowloc{
    list-style: none;
    margin-left: -9px;
    
}
.calender{
    padding-right: 10px;
    width: 1500px;
    height: 200px;
}
.searbar{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(241, 220, 193);
}





 */
