/* .body{
    background-color: rgb(229, 231, 233);
} */

.table tr th{
border: 5px solid black;


}
.btnstr {
    align-items: end;
    width: 300px;
    align-items: center;
}
.btnc{
    margin-left: 300px;
}